*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html, body{
    width: 100%;
    height: 100%;
}

#cursor{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    z-index: 999;
    transform: all linear .2s;
    transform-origin: center;
    pointer-events: none;
}

.cursor-grow{
    transform: scale(10);
    background-color: black;
    opacity: .4;
}

#top-bar{
    display: flex;
    width: 80vw;
    height: 10rem;
    position: fixed;
    top: -2%;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    justify-content: space-between;
    z-index: 999;
}

#top-bar img{
    width: 15vw;
}

#top-bar i{
    font-size: 3.5vw;
    filter: invert(1);
    cursor: pointer;
}

#panel{
    width: 10vw;
    height: 4rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.mn-circles{
    background-color: rgb(58, 65, 90);
    width: .8vw;
    height: .8vw;
    border-radius: 50%;
    cursor: pointer;
}

#main{
    min-width: 100%;
    overflow: hidden;
    /* overflow-x: scroll; */
    /* overflow-y: none;  */
    scroll-snap-type: x mandatory;
}
/* 
#main::-webkit-scrollbar{
    height: 10px;
}

#main::-webkit-scrollbar-thumb{
    background-color: rgb(218, 83, 49);
}

 */


#landing-page{
    position: relative;
    min-width: 310vw;
    height: 100vh;
    background-color: #161b2c;
    
}


#slider-container{
    position: absolute;
}

.slides{
    scroll-snap-align: start;
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

/* #slide1{
    left: 0;
    background-color: saddlebrown;
}
#slide2{
    left: 100vw;
    background-color: black;
}
#slide3{
    left: 200vw;
    background-color: purple;
}
#slide4 {
    left: 300vw;
    background-color: crimson;
}  */
#slide1{
    left: 0;
}
#slide1 h1{
    color: #FAC8BC;
}
#slide2{
    left: 60vw;
}
#slide2 h1{
    color: #AA2F3A;
}
#slide3{
    left: 120vw;
}
#slide3 h1{
    color: #eba152;
}
#slide4 {
    left: 180vw;
} 
#slide4 h1{
    color: #5A2219;
}

.slides img{
    width: 50vw;
    height: 35vw;
    /* filter: blur(2px); */
    filter: grayscale(50%) blur(1.5px);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    z-index: 998;
}

img:hover #cursor{
    transform: scale(8);
    width: 200px;
    height: 200px;
}

#page1{
    width: 100%;
    height: 100%;
    background-color: rgb(168, 168, 218);
}

.slides h1{
    position: absolute;
    color: white;
    left: 20%;
    font-size: 6vw;
    display: none;
    letter-spacing: -.2rem;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
    
}

.active-slide img{
    /* filter: blue(0); */
    filter: grayscale(0);
}

.active h1{
    display: block;
    animation-name: textAnime;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes textAnime{
    0%{
        font-size: 0;
    }
    100%{
        font-size: 6vw;
    }
}

.active-circle{
    background-color: lavender;
}

